/* RESET */
img{
    width: 100%;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

/* COMMON */
.container{
    max-width: 992px;
}
.ms_small-container{
    width: 60%;
    margin: 0 auto;
    max-width: 768px;
}
.ms_line{
    width: 10%;
    height: 1px;
    border: 2px solid ;
    border-radius: 20px;
}

.ms_jumbotron,
.ms_about{
    background-color: #1ABC9C;
}

/* HEADER */
/* header */
header{
    height: 80px;
    background-color: #2C3E50;
}

.navbar-toggler-icon{
    background: none;
    line-height: 1.5em;
}

.navbar-brand,
.nav-link,
.ms_about
.navbar-brand:hover,
.nav-link:hover,
a:hover{
    color: white;
}

.navbar-toggler{
    border-color: white;
    color: white;
}

/* MAIN */
/* jumbotron */
.ms_img{
    width: 200px;
    margin: 0 auto;
}

/* about */
.ms_about .ms_col{
    margin-bottom: 1rem;
}

.ms_a-container{
    padding: 2rem;
}
.ms_button{
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    padding: 10px;
}

/* contact me */
.form-control{
    border-radius: 0;
    border-top: none;
    border-left: none;
    border-right: none;
}

.form-control:focus{
    box-shadow: none;
    border-color: currentColor;
}

.btn{
    color: white;
    background-color: #1ABC9C;
}

.btn:hover{
    color: white;
    background-color: #1ABC9C;
}
/* FOOTER */
/* ft top */
.ms_ft-top{
    background-color: #3A546D;
}

.ms_entity{
    border: 1px solid white;
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 30px;
}

.ms_ft-bootstrap{
    color: #1ABC9C;
}

.ms_ft-bottom{
    height: 50px;
    background-color: #2C3E50;
}

.ms_ft-bottom p{
    line-height: 50px;
}