/* RESET */
img{
    width: 100%;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

/* COMMON */
.ms_line{
    width: 10%;
    height: 1px;
    border: 2px solid ;
    border-radius: 20px;
}

.ms_jumbotron,
.ms_about{
    background-color: #1ABC9C;
}

/* HEADER */
/* header */
header{
    height: 80px;
    background-color: #2C3E50;
}

.navbar-brand,
.nav-link,
.ms_about{
    color: white;
}

.navbar-toggler{
    border-color: white;
    color: white;
}



/* MAIN */
/* jumbotron */
.ms_img{
    width: 200px;
    margin: 0 auto;
}

/* about */
.ms_about .ms_col{
    margin-bottom: 1rem;
}

.ms_a-container{
    padding: 3rem;
}
.ms_button{
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    padding: 10px;
}

/* FOOTER */
/* ft top */
.ms_ft-top{
    background-color: #3A546D;
}

.ms_ft-bottom{
    background-color: #2C3E50;
}